* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgrey;
  color: black;
}

header,
footer {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #f30418;
  padding: 20px 20px;
  justify-content: space-between;
}

header > span {
  display: flex;
  align-items: center;
}

header > span > h4 {
  margin-right: 5px;
}

nav {
  background-color: darkgrey;
  display: flex;
  align-items: center;
  height: 100%;
}

a > img {
  width: 55px;
  margin-top: 3px;
  margin-right: 15px;
}

nav > span {
  display: flex;
  align-items: center;
  padding: 5px;
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: black;
}

main {
  padding: 20px 30px;
}

h1 {
  margin: 0;
  font-size: 2.4rem;
}

span {
  margin: 10px;
  color: white;
}

article:hover {
  background-color: darkgrey;
}

.small-image {
  max-width: 10%;
}
.big-image {
  max-width: 30%;
}

.icon {
  margin-top: 3px;
  margin-left: 10px;
  max-width: 12px;
}

.black-text {
  margin-left: 20px;
  color: black;
  font-weight: bold;
}

.topic-div > h2 {
  margin: 2px;
  border-bottom: 3px solid #f30418;
}

.info-line {
  max-width: 100%;
  padding: 5px;
  align-items: center;
  background-color: #79a6f5;
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
}

.comments {
  max-width: 100%;
  margin: 20px 0px 0px;
  padding: 0px;
  align-items: center;
  background-color: lightgrey;
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  border-bottom: 3px solid #13049c;
}

.comment-span {
  background-color: #13049c;
  color: white;
  margin-left: 0px;
  margin-right: 20px;
  padding: 5px;
}

.comment-card {
  margin: 5px 0px;
  border: 3px solid #13049c;
}

.comment-body {
  margin: 0;
  padding: 10px;
}

.comment-line {
  max-width: 100%;
  padding: 5px;
  align-items: center;
  background-color: #13049c;
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
}
