* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgrey;
  color: black;
}

header {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #f30418;
  padding: 20px 20px;
  justify-content: space-between;
}

header > span {
  display: flex;
  align-items: center;
}

header > span > h3 {
  margin-right: 5px;
}

nav {
  background-color: darkgrey;
  display: flex;
  align-items: center;
  height: 100%;
}

a > img {
  width: 55px;
  margin-top: 3px;
  margin-right: 15px;
}

nav > span {
  display: flex;
  align-items: center;
  padding: 5px;
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: black;
}

main {
  padding: 20px 30px;
}

h1 {
  margin: 0;
  font-size: 2.4rem;
}

span {
  margin: 10px;
  color: white;
}

article:hover {
  background-color: darkgrey;
}

article > p {
  align-items: center;
}

.small-image {
  max-width: 10%;
}
.big-image {
  max-width: 40%;
}

.black-text {
  margin-left: 20px;
  color: black;
  font-weight: bold;
}

.topic-div > h2 {
  margin: 2px;
  border-bottom: 3px solid #f30418;
}

.info-line {
  max-width: 50%;
  padding: 5px;
  align-items: center;
  background-color: #79a6f5;
  color: #0b0114;
  font-weight: 200;
}
